RewriteEngine On    # Turn on the rewriting engine

RewriteRule     ^$       index.php [NC,N]

# Handle requests for "login"
RewriteRule     Login    login.html    [L]
RewriteRule     app/auth/login.php   app/auth/login.php   [NC,L]

# Handle requests for "newpost"
RewriteRule     Newpost   newPostForm.php   [L]
