*{
  font-family: 'Roboto Light', Arial, sans-serif;
}

/*VARIABLES*/
:root {
  --bg-color: #192231;
  --bg-color2: #494E6B;
  --highlight-color: #985E6D;
  --highligt-damp: #98878F;
}


/*GENERAL*/
body{
  background-color: var(--bg-color);
  color: var(--highligt-damp);
}
.upvote:hover{color: lightgreen;}
.downvote:hover{color: tomato;}

/*NAVIGATION*/
.nav-link.active{
  color: rgb(0, 102, 255);
}

/*POSTS*/
.post a{
  color: var(--highlight-color);
}


/*COMMENTS*/
.comments{

}
.commentContainer{
  display: flex;
  flex-flow: row nowrap;
  min-height: 70px;
  margin-top: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #ffffef;
}
.comments .vote{
  text-decoration: none;
  align-self: center;
  font-size: 18px;
  color: black;
}
.commmentVote{
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  width: 30px;
}
.comment{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.commentData{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.commentText{

}
.commentReply{
  text-decoration: none;
}


/*LOGIN/SIGNUP PAGE*/
.loginContainer{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 25px;

}
