/*GENERAL*/
*{
  font-family: 'Roboto Light', Arial, sans-serif;
}
.hidden{ /*Used with javascript to hide elements*/
  display: none;
}

/*NAVBAR*/
.dropdown-menu.bg-dark > a{
  color: rgba(255,255,255,.5);
}
.dropdown-menu.bg-dark > a.selected{
  color: #fff;
}
.dropdown-menu.bg-dark > a:hover{
  background-color: #007bff;
  color: white;
}

/*STARTPAGE/POSTLIST*/
.container > .posts{
  display: flex;
  flex-flow: column nowrap;
}
.post{
  display: flex;
  flex-flow: row nowrap;

  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
}
.scoreContainer{
  display: flex;
  flex-grow: 1;
  align-self: center;
  margin-right: 15px;
}
.scoreForm{
  display: flex;
  flex-flow: column wrap;
}
.scoreForm > .postScore{
  text-align: center;
}
.postDetailContainer{
  flex-grow: 35;
  align-self: center;
}
.post .u_vote.active, .post .u_vote:hover{
  background-color: #51c676;
}
.post .d_vote.active, .post .d_vote:hover{
  background-color: tomato;
}
.post .btn{
  margin: 0;
}

/*POSTPAGE*/
.comments .comment{
  display: flex;
  flex-flow: column nowrap;

  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
}

/*AVATAR*/
.rounded{
  max-height: 175px;
}









/*Profile page*/
.panel{
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 10px 20px;
}
input, button, .formError{ /*Spacing for profile forms*/
  margin-top: 10px;
}
