*{
  font-family: 'Roboto Light', Arial, sans-serif;
}

/*VARIABLES*/
:root {
  --bg-color: #192231;
  --bg-color2: #494E6B;
  --highlight-color: #985E6D;
  --highligt-damp: #98878F;
}

.hidden{ /*Used with javascript to hide elements*/
  display: none;
}

[class*="bg"]{ /*Adds rounded corners on bootstrap warnings/danger bg etc*/
  border-radius: 4px;
}

.post, .row > .vote{ /*Adds border below each post in postList and on single post*/
  border-bottom: 1px solid black;
}

.voteForm .btn{
  width: 38px;
}

.edit-profile-image{
  height: 200px;
}

/*PROFILE EDIT PAGE*/
div[class*='profile'] > .panel{
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 25px;
  background-color: #f5f5f5;
  padding: 10px 20px;
}
div[class*='profile'] input,
div[class*='profile'] button,
div[class*='profile'] [class*="bg"]{ /*Spacing for profile forms*/
  margin-top: 10px;
}
